@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B);
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
    
}
.Content{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20%;
}

.Result{
    display: flex;
    border: solid 1px black;
    height: 280px;
    width: 25%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.Result p{
    font-size: 20px;
    font-family:'Open Sans' ;
}

.Result img{
    width: 200px;
    height: 200px;
}

.Error{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 35%;
    font-size: 20px;
    font-family:'Open Sans' ;

}
