
.Header{
    background-color:var(--color-background-header) ;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    padding-left: 55px;
}

.Header a{
    text-decoration: none;
    color: rgb(220, 227, 233);
}