* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

.Header{
    background-color: rgb(208, 89, 26);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(220, 227, 233);
    font-size: 30px;
}