* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

.Header{
    background-color: rgb(208, 89, 26);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    padding-left: 55px;
}

.Header a{
    text-decoration: none;
    color: rgb(220, 227, 233);
}